

<ul id="menu" class="ui-widget ui-corner-all ui-helper-reset ui-widget-content">
  <h3 class="ui-widget-header " >Menu</h3>
  <li><button id="menu-all" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Show all Routes</span>
  </button>
  </li>

  <li><button id="menu-points" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Show all Points</span>
  </button>
  </li>

  <li><button id="menu-clear" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Clear</span>
  </button>
  </li>
</ul>

<div id='map'></div>