

<ul id="menu" class="ui-widget ui-corner-all ui-helper-reset ui-widget-content">
  <h3 class="ui-widget-header " >Menu</h3>
  <li><button id="menu-all" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Show all Routes</span>
  </button>
  </li>

  <li><button id="menu-points" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Show all Points</span>
  </button>
  </li>

  <li><button id="menu-near" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Show near click</span>
  </button>
  </li>


  <li class="ui-state-default ui-corner-all">
    <h4>Composite q</h4>
    <label for="checkbox-forest">Through forest</label><input id="checkbox-forest" type="checkbox" ></br>

    <label for="checkbox-water">Near water</label><input id="checkbox-water" type="checkbox" >
    <input id="dist-water" type="number" value="200"></br>

    <label for="checkbox-hist">Near historical</label><input id="checkbox-hist" type="checkbox" >
    <input id="dist-hist" type="number" value="200"></br>


    <button id="menu-params" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">show</span>
  </button>
  </li>

  <li><button id="menu-clear" class="ui-button ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">Clear</span>
  </button>
  </li>


  <li id="menu-click">

    last click</br>
    Lat: <span></span></br>
    Long: <span></span>

  </li>

</ul>

<div id='map'></div>