# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bd9bcb5307734cb77fb94b71d21bd1cbd314d52cd8f91b3a063c664ab0e8c94bfd8a55acf781674cda964a4c272cb21ed9f0f0dd587ebb7d6481db73e0fa4580

test:
  secret_key_base: 99ca9e8b3b24bf1a93f23b2577e1a0ee367dd90dcd0d5be1c40e56a07969d0f1e17928b3e3c8ebfb1e298853c3edb300b2d719f3b6d4d5990aa5d03138005357

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
