// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

ul#menu {
  position:absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  padding: 5px;
  margin:0;
  list-style-type: none;
}

ul#menu li {
  margin: 0;
  padding:0;
}

ul#menu li input[type=number]{ width : 65px;}

#menu button { margin: 3px; width: 100%;}

#menu #menu-click {

  width:inherit;

}

#menu #menu-click span {

  width:100%;
  text-overflow: ellipsis;

}